<% string snLang = SenseNet.Portal.Virtualization.PortalContext.Current?.Site?.Language ?? "en-us"; %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%=snLang%>" xml:lang="<%=snLang%>">
<head>
    <title><%= (SenseNet.Portal.Virtualization.PortalContext.Current.Workspace != null) ? SenseNet.ContentRepository.Content.Create(SenseNet.Portal.Virtualization.PortalContext.Current.Workspace).DisplayName : "sensenet" %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <sn:BaseTag ID="BaseTagControl1" runat="server" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body class="sn-body sn-layout5 sn-layout-workspaces sn-layout-intra sn-intra-<%=snLang%>">
<% string snLang = SenseNet.Portal.Virtualization.PortalContext.Current?.Site?.Language ?? "en-us"; %>

    <sn:CssRequest CSSPath="$skin/styles/jqueryui/jquery-ui.css" ID="pageTemplateUIStyleReq" runat="server" />
    <sn:CssRequest CSSPath="$skin/styles/jqueryui/jquery-ui-sntheme.css" ID="pageTemplateUIStyleReq2" runat="server" />
    <sn:CssRequest CSSPath="$skin/styles/foundation.min.css" ID="foundation" runat="server" />
    <sn:CssRequest CSSPath="$skin/styles/sn-layout.css" ID="snLayoutCss" runat="server" />
    <sn:CssRequest CSSPath="$skin/styles/skin.css" ID="pageTemplateCssRequest1" runat="server" />

    <sn:ContextInfo runat="server" Selector="CurrentWorkspace" UsePortletContext="false" ID="workspaceContext" />

    <div class="sn-layout-container ui-helper-clearfix">
        <div class="sn-layout-head">
            <div class="sn-layout-head-left">
                <%= (SenseNet.Portal.Virtualization.PortalContext.Current.Workspace != null) ? SenseNet.Portal.UI.IconHelper.RenderIconTag(SenseNet.Portal.Virtualization.PortalContext.Current.Workspace.Icon, null, 32) : "" %>
                <h2><a href="/" title="Home"><span><%=HttpContext.GetGlobalResourceObject("Portal", "CompanyHome")%></span></a></h2>
                <h1><%= (SenseNet.Portal.Virtualization.PortalContext.Current.Workspace != null) ? HttpUtility.HtmlEncode(SenseNet.ContentRepository.Content.Create(SenseNet.Portal.Virtualization.PortalContext.Current.Workspace).DisplayName) : "sensenet" %></h1>
            </div>
            <div class="sn-layout-head-right">
                <div class="sn-logo">
                    <a href="http://www.sensenet.com" title='<%=HttpContext.GetGlobalResourceObject("Portal", "SenseNetDemoSiteTitle")%>' class="snPortalengine"></a>
                </div>
                <div class="sn-searchandlogin">
                    <snpe:advancedloginportlet title="<%$ Resources: PortletTitle, Login %>" id="login" runat="server" loginviewpath="/Root/System/SystemPlugins/Portlets/AdvancedLogin/AdvancedLoginView.ascx"
                                               cssclass="sn-advancedLogin" />
                    <snpe:ContextSearch Renderer="/Root/System/SystemPlugins/Portlets/ContextSearch/QuickView.ascx" ID="QuickSearch1" runat="server" QuickSearchMode="True"
                                        ContextInfoID="workspaceContext" />
                </div>
            </div>


        </div>

        <div class="sn-headertools">
            <sn:ContextInfo runat="server" Selector="CurrentContent" ID="myContext" />
            <sn:toolbar runat="server">
                <sn:toolbaritemgroup align="Left" runat="server" cssclass="sn-breadcrumb">
                    <snpe:BreadCrumbPortlet BindTarget="CurrentSite" ID="BreadCrumb" runat="server" Separator=" / " ShowSite="True" SiteDisplayName="<%$ Resources: Portal, Home %>" />
                </sn:toolbaritemgroup>
                <%if(SenseNet.ContentRepository.User.Current.Id != SenseNet.ContentRepository.User.Visitor.Id) {%>
                <sn:toolbaritemgroup align="Right" runat="server">
                    <sn:ActionLinkButton id="TrashBin" runat="server" Text="Trash Bin" IconName="trash" ActionName="Browse" NodePath="/Root/Trash" IncludeBackUrl="True" />
                    <sn:toolbarseparator runat="server" />
                    <asp:PlaceHolder ID="PRCEcms" runat="server" />
                </sn:toolbaritemgroup>
                <%} %>
            </sn:toolbar>
        </div>

        <div class="sn-columns ui-helper-clearfix">
            <div class="sn-column sn-column1">
                <snpe-zone name="LeftCol" headertext="Left Column" partchrometype="TitleAndBorder">
                    <snpe:ContentCollectionPortlet Title="Main Menu" ChromeType="BorderOnly" BindTarget="CurrentWorkspace" QueryFilter="-TypeIs:File" Renderer="/Root/Global/renderers/SiteMenu/SiteMenuCollectionView.ascx" SortBy="Index" ID="MainMenu" runat="server" />
                </snpe-zone>
            </div>

            <div class="sn-column sn-column2 ui-helper-clearfix">
                <div class="row fullWidth sn-layout-full">
                    <div class="columns large-12 small-12">
                        <snpe-zone name="WideCol2" headertext="Wide Column" partchrometype="TitleAndBorder"></snpe-zone>
                    </div>
                </div>
                <div class="row fullWidth sn-layout-full">
                    <div class="columns large-6 small-12">
                        <snpe-zone name="innerleftcol" headertext="Left Column"></snpe-zone>
                    </div>
                    <div class="columns large-6 small-12">
                        <snpe-zone name="innerrightcol" headertext="Right Column"></snpe-zone>
                    </div>
                </div>
                <div class="row fullWidth sn-layout-full">
                    <div class="columns large-12 small-12">
                        <snpe-zone name="WideCol" headertext="Wide Column" partchrometype="TitleAndBorder"></snpe-zone>
                    </div>
                </div>
            </div>
        </div>
        <snpe:UserControlPortlet ID="SensenetVersionInfo" ControlPath="/Root/Global/renderers/SensenetVersion.ascx" ChromeType="None" runat="server" />
    </div>
    <!-- prc -->
    <snpe:PortalRemoteControl ID="RemoteControl" runat="server" TagContainer="PRCEcms" />
    <sn:scriptrequest runat="server" path="$skin/scripts/init.js" />
</body>
</html>